<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookstream</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/student-request-book.css">
</head>

<body>
  <div class="side-pane">
    <div class="logo">
      <a href="#"><img src="/images/logo-white.png" alt=""></a>
    </div>
    <div class="nav">
      <div class="nav-item">
        <a href="/user/dashboard"><img src="/images/dashboard-icon.svg" alt="">
          <p>Request book</p>
        </a>
      </div>
      <div class="nav-item">
        <a href="/user/return-books"><img src="/images/book-icon.svg" alt="">
          <p>Return Book</p>
        </a>
      </div>
      <!-- <div class="nav-item">
                <a href="manage-books.html"><img src="clock-icon.svg" alt=""><p> Overdue Books</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-students.html"><img src="student-icon.svg" alt=""><p> Manage Students</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-requests.html"><img src="location-icon.svg" alt=""><p> Manage Sections</p></a>
            </div>
            <div class="nav-item">
                <a href="manage-issues.html"><img src="book-icon.svg" alt=""><p> Borrow requests</p></a>
            </div> -->
    </div>
  </div>
  <div class="main-cont">
    <div class="header">
      <div class="title">
        <h1>Request Book</h1>
      </div>
      <div class="acc_settings" data-modal-target="top-right-modal" data-modal-toggle="top-right-modal">
        <img src="/images/setting-icon.svg" alt="settings">
        <div>Account Settings</div>
      </div>
      <!-- Log out Modal -->
      <div id="top-right-modal" data-modal-placement="top-right" tabindex="-1"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-96 max-w-2xl h-72">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                Profile Settings
              </h3>
              <button type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="top-right-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <div
                class="flex flex-col justify-center items-center align-content-center max-w-xs p-6 shadow-md rounded-xl sm:px-12 dark:bg-gray-900 dark:text-gray-100">
                <img src="https://source.unsplash.com/150x150/?portrait?3" alt=""
                  class="w-32 h-32 mx-auto rounded-full dark:bg-gray-500 aspect-square">
                <div class="space-y-4 text-center divide-y divide-gray-700">
                  <div class="my-2 space-y-1">
                    <h2 class="text-xl font-semibold sm:text-2xl">
                      <%= user.username %>
                    </h2>
                    <p class="px-5 text-xs sm:text-base dark:text-gray-400">Full-stack developer</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button data-modal-hide="top-right-modal" type="button" id="logoutBtn"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log
                out</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--                                        Search book                                               -->
    <div class="search-book">
      <form method="post" action="/user/search">
        <label for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
          <input type="text" name="search" id="default-search" style="width: 40vw;"
            class="block w-96 p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search by Title/Category/Author" required>
          <button type="submit"
            class="text-white absolute right-2.5 bottom-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            style="width:100px; height:40px;">Search</button>
        </div>
      </form>
    </div>
    <div class="data-tab">
      <table class="blueTable">
        <thead>
          <div class="tab-head">
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Category</th>
            </tr>
          </div>
        </thead>
        <tbody>
          <%- include('../layouts/flash') %>
            <% for(book of books) { %>
              <% let flag=false %>
                <% for(l of list) { %>
                  <% if((l.book._id).toString()===(book._id).toString()) {%>
                    <% flag=true %>
                      <% } %>
                        <% } %>
                          <tr>
                            <td>
                              <%= book.title %>
                            </td>
                            <td>
                              <%= book.authors[0] %>
                            </td>
                            <td>
                              <%= book.category[0] %>
                            </td>
                            <% if(flag) { %>
                              <td>Requested</td>
                              <% } else if(user.books_borrowed.some(e=> (e.bookid).toString() ===
                                (book._id).toString())) { %>
                                <td>Approved!</td>
                                <% } else if( book.stock ) { %>
                                  <td>
                                    <form action="/user/books/requestbook/<%= book._id %>" method="post"><button>Request
                                        Book</button></form>
                                  </td>
                                  <% } else { %>
                                    <td>Out of Stock!</td>
                                    <% } %>
                          </tr>
                          <% } %>
        </tbody>
        </tr>
      </table>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script>
  document.getElementById('logoutBtn').addEventListener('click', function () {
    fetch('/user/logout', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
      .then(response => {
        if (response.ok) {
          window.location.href = '/';
        } else {
          console.error('Logout failed:', response.statusText);
        }
      })
      .catch(error => {
        console.error('Logout failed:', error);
      });
  });
</script>

</html>