<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookstream</title>
  </head>
  <body>
    <h1><%= book.title %></h1>
    <div>
      <p>ISBN: <%= book.ISBN %></p>
      <p>Authors</p>
      <ul>
        <% for(author of book.authors) { %>
        <li><%= author %></li>
        <% } %>
      </ul>
      <p>Categories</p>
      <ul>
        <% for(c of book.category) { %>
        <li><%= c %></li>
        <% } %>
      </ul>
      <p>Stock: <%= book.stock %></p>
    </div>
    <% let flag = false %>  
    <% for(l of list) { %>
    <% if((l.book._id).toString() === (book._id).toString()) {%>
      <% flag = true %> 
    <% } %>   
    <% } %>    
    <% if(user.books_borrowed.some(e => e.bookid == book._id) || flag) { %>
         <p>sorry you cant request a book twice</p>
    <% } else if( book.stock ) { %>
      <form action="/user/books/requestbook/<%= book._id %>" method="post">
        <button>Request book</button>
      </form>
    <% } else { %>
      <p>Book is unavailable now(Out of Stock) :(</p> 
    <% } %>   
  </body>
</html>
